body{
    background-color: whitesmoke;
  }
  h1{
    color: #66BFBF;
    font-size: 30px;
  }
  h2
  {
    color: #66BFBF;
    font-size: 22px;
  }
  img
  {
    background-color: whitesmoke;
  }
  h3
  {
    color: #66BFBF
  }
  hr
  {
    background-color: none;
    border-style:none;
    border-color: gray;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px;
    width: 8%;
  }
  img
  {
    height: 200px;
  }